<ion-header>
  <ion-toolbar class="header-grey">
    <ion-title>To-do List</ion-title>
    <ion-button (click)="logOut()" style="margin-right:1%;" color="warning" slot="end">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-button color="primary" style="margin-left: 1%;" [routerLink]="['/create']">Add To-do</ion-button>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-label>To-do</ion-label>
    </ion-item>
     <ion-item *ngFor="let task of tasksArr">
       <ion-label>{{task.title}}</ion-label>
       <ion-label>{{task.todo}}</ion-label>
       <ion-button color="success">Edit</ion-button>
       <ion-button color="danger">Delete</ion-button>
     </ion-item>
  </ion-list>
</ion-content>
