<ion-header>
  <ion-toolbar class="background-grey">
    <ion-title>Add a To-do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="createTask()">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="newTitle" name="newTitle" value="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">To-do</ion-label>
      <ion-input [(ngModel)]="newTodo" name="newTodo" value="To-do"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="submit" expand="block">Confirm</ion-button>
  </form>
</ion-content>
